/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a,
del,
ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label,
button {
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

input,
button {
  outline: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #6565e7 #af67e9;
}

html ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

html ::-webkit-scrollbar-track {
  background: #6565e7;
  border-radius: 0px;
}

html ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: #af67e9;
}

html ::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(0, 0, 0, 0.25);
}

html ::-webkit-scrollbar-thumb:hover {
  background: #c694ef;
}

body {
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  min-height: 100vh;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#af67e9),
    to(#6565e7)
  );
  background: linear-gradient(#af67e9, #6565e7);
}

.article--wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.article--wrapper .box {
  position: absolute;
  top: 58%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  max-width: 1200px;
  min-height: 40rem;
  padding: 6rem;
  overflow: hidden;
}

.left {
  position: relative;
  height: 25rem;
}

.left .woman {
  position: absolute;
  top: 50%;
  left: 4rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.left .shadow {
  position: absolute;
  top: -23rem;
  left: -41rem;
}

.left,
.right {
  width: 50%;
}

.right {
  height: 27rem;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

li {
  border-bottom: 1px solid #e7e7e9;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  cursor: pointer;
  padding: 1rem 0;
}

.question h2 {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  padding: 0.5rem 0;
}

.question h2:hover,
.question h2:active {
  color: #f47c57;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.paragraph--hidden {
  -webkit-animation: slideUp 500ms forwards;
  animation: slideUp 500ms forwards;
}

.arrow {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.title--bold {
  font-weight: bold;
}

p {
  -webkit-animation: slideDown 500ms forwards;
  animation: slideDown 500ms forwards;
}

@-webkit-keyframes slideUp {
  from {
    line-height: 1.4;
    height: auto;
    overflow: auto;
    padding: 0.5rem 0;
  }
  75% {
    height: 0;
  }
  to {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

@keyframes slideUp {
  from {
    line-height: 1.4;
    height: auto;
    overflow: auto;
    padding: 0.5rem 0;
  }
  75% {
    height: 0;
  }
  to {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

@-webkit-keyframes slideDown {
  from {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
  75% {
    height: auto;
  }
  to {
    height: auto;
    line-height: 1.4;
    overflow: auto;
    padding: 0.5rem 0;
  }
}

@keyframes slideDown {
  from {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
  75% {
    height: auto;
  }
  to {
    height: auto;
    line-height: 1.4;
    overflow: auto;
    padding: 0.5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

header {
  height: 90px;
  background: #2f3640;
}

.inner-width {
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo {
  float: left;
  padding: 20px 0;
}

.logo img {
  height: 80px;
}

.navigation-menu {
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a {
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: 0.3s linear;
}

.navigation-menu a:hover {
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i {
  margin-right: 8px;
  font-size: 16px;
}

.home {
  color: #ff6b6b;
}

.about {
  color: #0abde3;
}

.works {
  color: #feca57;
}

.team {
  color: #5f27cd;
}

.contact {
  color: #1dd1a1;
}

.menu-toggle-btn {
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .menu-toggle-btn {
    display: block !important;
  }

  .navigation-menu {
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a {
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active {
    display: block;
  }
}
